label {
    vertical-align: middle;
    padding-left: .5em;
    padding-right: 2em;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #80CBC4;
    padding-bottom: 150px;
    position: relative;
    min-height: 100%;
    min-width: 360px;
}

.search {
    padding: 1em;
    color: dimgray;
    width: 90%;
    margin: auto;
}

#results_area {
    width: 90%;
    margin: auto;
}

header {
    box-shadow: 5px 5px 5px #888888;
    background-color: #009688;
    color: white;
    padding: 1em;
}

footer {
    background-color: #009688;
    color: white;
    padding: 2em;
    width: 100%;
    height: 150px;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

footer a {
    color: white;
    text-decoration: underline;
}

* {
    box-sizing: border-box;
}
