.mdl-layout__header > .material-icons {
	line-height: 2;
}

#fixed-tab-list {
	width: 90%;
	margin: auto;
}

#apply_btn_wrapper {
	text-align: center;
  margin: 3rem;
}

.mdl-card {
  width: 100%;
  margin-top: 1em;
}

.filter-list {
  list-style: none;
  padding-left: 1rem;
}

.mdl-card__title.indigo300 {
  color: #fff;
  background-color: #7986CB; 
}

.mdl-card__title.indigo500 {
  color: #fff;
  background-color: #3F51B5; 
}

.mdl-card__title.indigo700 {
  color: #fff;
  background-color: #303F9F; 
}

.apa-card-wide > .mdl-card__menu {
  color: #fff;
}

.mdl-card__supporting-text > .material-icons {
  vertical-align: middle;
}

.prop-label {
  margin-left: 1rem;
  margin-right: 1rem;
}

#results_list {
  list-style: none;
  padding: 0;
}

.google-map {
  width: 100%;
  height: 100%;
}